.git
.gitignore
.env
.env.*
!.env.docker
.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
node_modules
web/node_modules
web/vendor
web/storage/framework/cache/*
web/storage/framework/sessions/*
web/storage/framework/views/*
web/storage/logs/*
logs/*
data/*
!data/historicos
